Problem Statement :-
	A cloth manufacturing company is interested to know about the different attributes contributing to high sales. Build a decision tree & random forest model with Sales as target variable (first convert it into categorical variable).

Maximize Sales Revenue: The primary objective is to increase sales revenue for the cloth manufacturing company. This involves identifying key attributes that contribute to high sales and leveraging them effectively.


Minimize Production Costs: While maximizing sales revenue is crucial, it's also important to keep production costs in check to ensure profitability. Identifying attributes that can help optimize production processes and reduce costs is essential.

In [17]:
"""
Constraints :
    'Sales',
    'CompPrice', 
    'Income', 
    'Advertising', 
    'Population', 
    'Price',
    'ShelveLoc', 
    'Age', 
    'Education', 
    'Urban', 
    'US'
"""

"\nConstraints :\n    'Sales',\n    'CompPrice', \n    'Income', \n    'Advertising', \n    'Population', \n    'Price',\n    'ShelveLoc', \n    'Age', \n    'Education', \n    'Urban', \n    'US'\n"

In [1]:
import pandas as pd
import numpy as np  
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('D:\\1-Data Science\\6 - Machine Learning\\Decision Tree\\Data\\Company_data.csv')

In [3]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
bin_target = [float('-inf'), 8, float('inf')]
bin_lable = ['low','high']

df['Sales'] = pd.cut(df['Sales'], bins=bin_target, labels=bin_lable, right = False)

In [5]:
df.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [6]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,high,138,73,11,276,120,Bad,42,17,Yes,Yes
1,high,111,48,16,260,83,Good,65,10,Yes,Yes
2,high,113,35,10,269,80,Medium,59,12,Yes,Yes
3,low,117,100,4,466,97,Medium,55,14,Yes,Yes
4,low,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,high,138,108,17,203,128,Good,33,14,Yes,Yes
396,low,139,23,3,37,120,Medium,55,11,No,Yes
397,low,162,26,12,368,159,Medium,40,18,Yes,Yes
398,low,100,79,7,284,95,Bad,50,12,Yes,Yes
399,high,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
le = LabelEncoder()

In [8]:
l = ['ShelveLoc','Urban', 'US']

for i in l:
    df[i] = le.fit_transform(df[i])

In [9]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,high,138,73,11,276,120,0,42,17,1,1
1,high,111,48,16,260,83,1,65,10,1,1
2,high,113,35,10,269,80,2,59,12,1,1
3,low,117,100,4,466,97,2,55,14,1,1
4,low,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,high,138,108,17,203,128,1,33,14,1,1
396,low,139,23,3,37,120,2,55,11,0,1
397,low,162,26,12,368,159,2,40,18,1,1
398,low,100,79,7,284,95,0,50,12,1,1
399,high,134,37,0,27,120,1,49,16,1,1

In [10]:
input = df.drop('Sales', axis = 'columns')
target = df['Sales']

In [11]:
X_train, X_test , y_train, y_test = train_test_split(input, target , test_size=0.2)

In [12]:
model = DecisionTreeClassifier()

In [13]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [14]:
pred = model.predict(X_test)

In [15]:
pred

array(['low', 'low', 'low', 'low', 'high', 'high', 'high', 'low', 'low',
       'low', 'high', 'low', 'high', 'high', 'low', 'high', 'high', 'low',
       'high', 'high', 'low', 'low', 'high', 'low', 'high', 'high', 'low',
       'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low', 'high',
       'low', 'high', 'low', 'high', 'high', 'high', 'high', 'low', 'low',
       'low', 'high', 'low', 'high', 'low', 'high', 'low', 'high', 'high',
       'high', 'high', 'low', 'high', 'high', 'low', 'low', 'low', 'high',
       'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'high', 'high', 'low', 'high', 'low', 'low'],
      dtype=object)

In [16]:
model.score(X_test, y_test)

0.6875